<!DOCTYPE html>
<html  ng-app="woolfApp">
  <head>
    <title>Woolf</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./css/photon.css">
    <link rel="stylesheet" href="./css/app.css">

    <!-- External Javascript -->
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script>window.$ = window.jQuery = require('./bower_components/jquery/dist/jquery.min.js');</script>

    <!-- Internal Javascript -->
    <script src="./js/common.js" charset="utf-8"></script>
    <script src="./js/markdown.js"></script>
    <script src="./js/app.js" charset="utf-8"></script>

  </head>
  <body ng-controller="woolfController">
    <div class="window">
      <div class="window-content">
        <div class="pane-group">
          <div class="pane pane-sm sidebar">
            <ul class="list-group">
              <!-- 
              <li class="list-group-header">
                <input class="form-control" type="text" placeholder="Search for anything.">
              </li>
               -->
            </ul>
            <nav class="nav-group" id="recent-files">
              <h3 class="nav-group-title">Recent</h3>
              <span style="color:#555555" class='nav-group-item' ng-class='{active : isFileNameSelected(file)}' ng-repeat="file in files" ng-click="loadFile(file)">{{file}}</span>
            </nav>
            <footer class="toolbar toolbar-footer" style="position:absolute;bottom:0px;width:100%;">
              <div class="toolbar-actions">
                <button class="btn btn-default">
                  <span class="icon icon-cog" ng-click="goto('configure')"></span>
                </button>
              </div>
            </footer>
          </div>

          <div class="pane">
            <div ui-view style="height:100%">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
